#logo {
    margin: auto;
    width: 272px;
    padding: 190px;
    
}
.searchform {
    position: absolute;
    top: 320px;
    right: 28%;
    width: 584px;
    height: 44px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16);
}